body { 
  cursor: grab;
  overflow: hidden;
  position: relative
}
.block {
    flex: 1;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#root {
  position: relative;
}

div.block-node {
    display: flex;
    align-items: center;
    align-content: center;
    border: solid 5px black;
    padding: 23px;
    width: 14ch;
    max-height: 2ex;
    height: 3ex;
    border-radius: 10px;
    /* margin: 50px; */
}

p.block-node {
    flex: 1;
    text-align: center;
}

div.block-type-master {
    background: red;
}

p.block-type-master {
    color: white;
    font-size: 20px;
    font-style: bold;
}

div.block-type-switch {
    background: white;
}

p.block-type-switch {
    color: black;
    font-size: 20px;
    font-style: bold;
}

div.block-type-vuln {
    background: orange;
}

p.block-type-vuln {
    color: black;
}

div.block-text {
    align-items: center;
    align-content: center;
    background-color: lightgrey;
    width: 25ch;
    min-height: 3em;
    max-width: 25ch;
    border: solid 5px black;
    border-radius: 10px;
}

li.block-text {
    display: flex;
    align-items: center;
    align-content: center;
    padding: 0.3em;
    padding-left: 1ch;
    padding-right: 1ch;
    margin: 1ex;
    /* height: 2em; */

    background-color: white;
}

p.block-text {
    flex: 1;
    text-align: center;
    /* height: 2em; */
    line-height: 2em;
    /* max-height: 1em; */

    max-lines: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    word-wrap: break-word;
    -webkit-line-clamp: 1;
            line-clamp: 1; 
    -webkit-box-orient: vertical;
}

div.copy {
    height: 1.4em;
    width: 1.4em;
    background: url('../logo/copy_logo.svg');
    border: 0;
}

div.copy:hover {
    opacity: 0.7;
}

div.copy:active {
    filter: invert(74%) sepia(21%) saturate(404%) hue-rotate(58deg) brightness(86%) contrast(85%);
}

div.block-url {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background-color: lightgrey;
    width: 25ch;
    height: auto;
    border: solid 5px black;
    border-radius: 10px;
}

a.block-url {
    flex: 1;
    text-align: center;
    background-color: white;
    padding: 1.9ex;
    margin: 1ex;
    width: calc(100% - 2ex - 1.9ex * 2);
    height: 2ex;
    text-align: center;
}
