.block {
    margin: 10px;
}

div.block-node {
    display: flex;
    align-items: center;
    align-content: center;
    border: solid 5px black;
    padding: 23px;
    width: 14ch;
    height: 2ex;
    border-radius: 10px;
}

p.block-node {
    flex: 1;
    text-align: center;
}

div.block-type-classic {
    background: white;
}

p.block-type-classic {
    color: black;
    font-size: 20px;
    font-style: bold;
}

div.block-type-vuln {
    background: orange;
}

p.block-type-vuln {
    color: black;
}

div.block-text {
    align-items: center;
    align-content: center;
    background-color: lightgrey;
    width: 25ch;
    border: solid 5px black;
    border-radius: 10px;
}

p.block-text {
    flex: 1;
    background-color: white;
    padding: 1.9ex;
    margin: 1ex;
    text-align: center;
}